<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <my-employeeCount></my-employeeCount> <!--[all]="getEmployeeCount"
                      [male]="getMaleEmployeeCount"
                      [female]="getFemaleEmployeeCount">-->


    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Annual Salary</th>
                <th>Date of Birth</th>
                <th>Location</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.empID | uppercase}}</td>
                <td>{{employee.names | employeeTittle:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annualsalary}}</td>
                <td>{{employee.dateofbirth | date:'fullDate'}}</td>
                <td>{{employee.locations}}</td>
            </tr>
            <tr *ngIf="!employees || employees.length == 0">
                <td colspan="3">No Data Found !--</td>
            </tr>
        </tbody>
    </table>    
</body>
</html>